@{
    ViewData["Title"] = "Contact";
}
<section class="section">
    <div class="section__partial">
        <div class="main-section__info">
            <h1 class="section-title">
                Contact
            </h1>
            <h4 class="section-description">
                Let's start the conversation and<br/>
                create something extraordinary together.
            </h4>
        </div>
        <div class="contact-section__infos">
            <div class="contact-section__info">
                <h3 class="contact-title to_capitalize">New Business</h3>
                <a href="https://calendar.google.com/calendar/appointments/schedules/AcZssZ0SCTkJ2jz3h0FplQese6r2yhisfagbcMbfzKBvZ2OL7ckxyY2fwOiSnzV6_zA_fWAb5gYrqoHT" class="schedule-call__link button-link__dot">
                    Schedule a call
                </a>
            </div>
            <div class="contact-section__info">
                <h3 class="contact-title to_capitalize">General Enquires</h3>
                <a href="#" class="contact-link">
                    BekhzodUsmonoff@gmail.com
                </a>
            </div>
            <div class="contact-section__info">
                <h3 class="contact-title to_capitalize">Location</h3>
                <a href="#" class="contact-link">
                    14a Parade,<br />
                    Leamington Spa,<br />
                    Warwickshire, CV32 4DW<br />
                    United Kingdom
                </a>
            </div>
            <div class="contact-section__info">
                <h3 class="contact-title to_capitalize">Social</h3>
                <ul class="social-media__items">
                    <li class="social-media__item">
                        <a href="#" class="contact-link">
                            <i class="fab fa-telegram"></i>
                            Telegram
                        </a>
                    </li>
                    <li class="social-media__item">
                        <a href="#" class="contact-link">
                            <i class="fab fa-instagram"></i>
                            Instagram
                        </a>
                    </li>
                    <li class="social-media__item">
                        <a href="#" class="contact-link">
                            <i class="fa-brands fa-linkedin"></i>
                            Linkedin
                        </a>
                    </li>
                    <li class="social-media__item">
                        <a href="#" class="contact-link">
                            <i class="fab fa-youtube"></i>
                            Youtube
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</section>