@{
    ViewData["Title"] = "Experiments";
}
<section class="section">
    <div class="container">
        <div class="section__partial">
            <div class="experiment-section__info">
                <h1 class="section-title">
                    Experiments
                </h1>
                <h4 class="section-description">
                    Whenever I have time, I dive into the<br />
                    internet world for inspiration. It's a<br />
                    great process and I'm discovering a lot for<br />
                    myself. It's like getting an extra weapon<br />
                    before going into battle. I save different<br />
                    styles, techniques, rhythms for myself and<br />
                    try to use them in new projects
                </h4>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            @for (int i = 0; i < 6; i++)
            {
                string item = $"images/e{i + 1}.mp4";
                <div class="col-md-4 mb-3 experiment-section__image">
                    <video class="form-control" autoplay loop>
                        <source src="~/@item" type="video/mp4" />
                    </video>
                </div>

            }
        </div>
    </div>
</section>
